<section class="ftco-section">
    <div class="container">

        <div class="row">

            <div class="col-9 img">
                <img src="/{{producto.imagen}}" class="img-fluid" style="width: 60%; height:auto;">
            </div>
            <div class="col-3">
                <h2>{{producto.nombre}}</h2>
                <p>{{producto.descripcion}}</p>
                <h5>${{producto.precio}}</h5>
            </div>


        </div>


    </div>

</section>